header {
  display: inline;
}

body {
  background-color: #282c34;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#startbtn{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#truebtn{
  visibility: hidden;
}

#falsebtn{
  visibility: hidden;
}

#Abtn{
  visibility: hidden;
}

#Bbtn{
  visibility: hidden;
}

#Cbtn{
  visibility: hidden;
}

#Dbtn{
  visibility: hidden;
}

#skipbtn{
  visibility: hidden;
}

a {
  text-decoration: none;
  font-family: "ff-meta-web-pro", sans-serif;
}


h1 {
  text-align: center;
}

.container {
  position: relative;
}

.buttonElementsContainer {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* text to go over the container class which hovers over images such as the homepage and subjects*/
.welcomeText {
  position: relative;
  bottom: 500px;
  background-color: rgba(0, 0, 0, 0.267);
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(255, 255, 255);
}

#questions_view{
text-align: center;
}

#WelcomeImg{
  width: 100%;

}

/*used to style to div navation bar */
.topnav {
  margin: 1px;
  padding: 1px;
  width: auto;
  overflow: hidden;
  text-align: center;


}


/*moblie*/
@media screen and (max-width: 653px) and (min-height:400px) {

  .welcomeText {
    position: absolute;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.267);
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(255, 255, 255);
  }

  body {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .buttonElementsContainer {
    margin: 0;
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }


}